html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding-top: 2rem;
    min-height: 100vh;
    background: url('img/background.jpg') no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    max-width: 50%;
    row-gap: 3rem;
    background-color: rgb(247, 236, 92);
    box-shadow: 0 0 10px rgb(247, 236, 92);
}

.slider-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.slider-inner-container {
    display: flex;
    width: 500%;
    transition: 0.5s ease-out;
}

.slider_img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
}

.text-container {
    overflow: hidden;
    flex-basis: 70%;
}

.text-inner-container {
    display: flex;
    width: 500%;
    transition: 0.5s ease-out;
}

.text {
    margin: 0;
    width: 100%;
    font-size: 3.5rem;
}

.controls {
    display: flex;
    justify-content: flex-end;
    flex-basis: 30%;
    gap: 1rem;

}

.controls_input {
    display: none;
}

.controls_label {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.7rem;
    cursor: pointer;
    box-sizing: border-box;
}

.controls_label::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 0.2rem solid black;
    border-radius: 50%;
}

.controls_label:hover::after,
.controls_label:focus::after,
.controls_label:active::after {
    background-color: rgb(241, 158, 33);
    border: 0.2rem solid rgb(241, 158, 33);
}

#slide1:checked ~ .controls .controls_label:nth-of-type(1)::after,
#slide2:checked ~ .controls .controls_label:nth-of-type(2)::after,
#slide3:checked ~ .controls .controls_label:nth-of-type(3)::after,
#slide4:checked ~ .controls .controls_label:nth-of-type(4)::after,
#slide5:checked ~ .controls .controls_label:nth-of-type(5)::after,
#slide6:checked ~ .controls .controls_label:nth-of-type(6)::after,
#slide7:checked ~ .controls .controls_label:nth-of-type(7)::after,
#slide8:checked ~ .controls .controls_label:nth-of-type(8)::after {
  border: 0.2rem solid orange;
  background: none;
  transform: scale(1.1);
  box-shadow: 0 0 5px black;
}

#slide2:checked ~ .slider-container .slider-inner-container {
    transform: translateX(-100%);
}

#slide2:checked ~ .text-container .text-inner-container {
    transform: translateX(-20%);
}

#slide3:checked ~ .slider-container .slider-inner-container {
    transform: translateX(-200%);
}

#slide3:checked ~ .text-container .text-inner-container {
    transform: translateX(-40%);
}

#slide4:checked ~ .slider-container .slider-inner-container {
    transform: translateX(-300%);
}

#slide4:checked ~ .text-container .text-inner-container {
    transform: translateX(-60%);
}

#slide5:checked ~ .slider-container .slider-inner-container {
    transform: translateX(-400%);
}

#slide5:checked ~ .text-container .text-inner-container {
    transform: translateX(-80%);
}

@media (max-width: 1100px) {
    .wrapper {
        flex-direction: column;
    }

    .text-container {
        max-width: 100%;
        order: 2;
    }

    .controls {
        order: 1;
    }
}

@media (max-width: 660px) {
    body {
        padding-top: 10rem;
    }

    .wrapper {
        padding: 1rem;
        row-gap: 1rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .controls_label {
        width: 2rem;
        height: 2rem;
    }
}